{% extends "base.html" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
{% if get_flashed_messages() %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<!-- Page Heading -->
<nav class="navbar navbar-light bg-light row">
  <div class="col"></div>
  <!-- Button trigger modal add -->
  {% if username_role == "Admin" %}
  <button type="button" class="btn btn-success float-right col-1 me-lg-4" data-toggle="modal" data-target="#modaladd">
    New
  </button>
  {% endif %}

  <!-- Modal Add User -->
  <div class="modal fade" id="modaladd" tabindex="-1" role="dialog" aria-labelledby="modaladdLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modaladdLabel">New</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/namespaces/create" method="POST">
            <div class="form-group">
              <label>Namespace:</label>
              <input class="form-control user" name="namespace" type="text" placeholder="Type your username">
            </div>
            <div class="modal-footer">
              <div class="form-group mt-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" >Add Namespace</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
  <!-- Modal Add User -->
</nav>

<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Namespace List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Namespace</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Status</th>
                        <th>Namespace</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for ns in namespace_list %}
                    <tr>
                      <td>
                      {% if ns.status == "Active" %}
                        <span class="badge badge-success">{{ ns.status }}</span>
                      {% else %}
                        <span class="badge badge-danger">{{ ns.status }}</span>
                      {% endif %}
                      </td>
                      <td>{{ ns.name }}</td>
                      <td>
                        {% if username_role == "Admin" %}
                        <!-- Button trigger modal -->
                        <form action="/namespaces/delete" method="post">
                          <button type="button" class="btn btn-success btn-just-icon btn-xs" data-toggle="modal" data-bs-target="#modaledit" data-ns="{{ ns.name }}">
                              <i class="material-icons">edit</i>
                          </button>
                          <input type="hidden"  name="namespace" value="{{ ns.name }}"/>
                          <button type="submit" rel="tooltip" class="btn btn-danger btn-info btn-just-icon btn-sm" value="upvote">
                              <i class="material-icons">delete</i>
                          </button>
                        </form>  
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
        $('#data').DataTable();
        });
    </script>
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}