{% extends "base.html" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
{% if get_flashed_messages() %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<div class="card mb-4">
    <div class="card-header py-3">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="nav-pod-tab" data-toggle="tab" href="#nav-pod" role="tab" aria-controls="nav-pod" aria-selected="true">Pod</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-containers-tab" data-toggle="tab" href="#nav-containers" role="tab" aria-controls="nav-containers" aria-selected="false">Containers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-conditions-tab" data-toggle="tab" href="#nav-conditions" role="tab" aria-controls="nav-conditions" aria-selected="false">Conditions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-security-tab" data-toggle="tab" href="#nav-security" role="tab" aria-controls="nav-security" aria-selected="false">Security Contexts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-resources-tab" data-toggle="tab" href="#nav-resources" role="tab" aria-controls="nav-resources" aria-selected="false">Related Resources</a>
            </li>
          </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-pod" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <tr>
                                    <th>Namespace:</th>
                                    <td>{{ pod_data.namespace }}</td>
                                </tr>
                                <tr>
                                    <th>Name:</th>
                                    <td>{{ pod_data.name }}</td>
                                </tr>
                                <tr>
                                    <th>Node:</th>
                                    <td>{{ pod_data.node }}</td>
                                </tr>
                                <tr>
                                    <th>Owner:</th>
                                    <td>
                                        <form action="/{{ pod_data.owner.split("/")[0] }}" method="post">
                                        <input type="hidden" name="ns_select" value="{{ pod_data.namespace }}" />
                                        <input type="hidden" name="tr_select" value="{{ pod_data.owner.split("/")[1] }}" />
                                        <a href="javascript:;" onclick="parentNode.submit();">{{ pod_data.owner }}</a>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Priority:</th>
                                    <td>{{ pod_data.priority }}</td>
                                </tr>
                                <tr>
                                    <th>Priority Class:</th>
                                    <td>{{ pod_data.priority_class_name }}</td>
                                </tr>
                                <tr>
                                    <th>Runetime Class:</th>
                                    <td>{{ pod_data.runtime_class_name }}</td>
                                </tr>
                                <tr>
                                    <th>Lables:</th>
                                    <td>
                                        {% for i in pod_data.labels %}
                                            {% for key, value in i.items() %}
                                                {{ key }}: {{ value }}<br>
                                            {% endfor %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-containers" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        {% if pod_data.init_containers %}
                        <h3>Init Containers</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    {% if has_report %}
                                        <th style="width:5%"></th>
                                    {% endif %}
                                        <th>State</th>
                                        <th>Name</th>
                                        <th>Image</th>
                                        <th>Restarts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ic in pod_data.init_containers %}
                                    <tr>
                                        {% if has_report %}
                                        <td>
                                            <button type="button" class="btn btn-success btn-just-icon btn-xs" data-toggle="collapse" data-target="#ic-{{ ic.name }}" onclick="">
                                                <i class="material-icons">arrow_forward_ios</i>
                                            </button>
                                        </td>
                                        {% endif %}
                                        {% if ic.ready == "Completed"%}
                                        <td><span class="badge badge-secondary">{{ ic.ready }}</span></td>
                                        {% elif ic.ready == "ImagePullBackOff" %}
                                        <td><span class="badge badge-danger">{{ ic.ready }}</span></td>
                                        {% else %}
                                        <td>{{ ic.ready }}</td>
                                        {% endif %}
                                        <td>{{ ic.name }}</td>
                                        <td>{{ ic.image }}</td>
                                        <td>{{ ic.restarts }}</td>
                                    </tr>
                                    {% if has_report %}
                                    <tr>
                                        <td id="ic-{{ ic.name }}" class="collapse" colspan="5">
                                        {% for po, vuls in pod_vulns.items() %}
                                        {% if po == ic.name %}

                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Severity</th>
                                                    <th>Score</th>
                                                    <th>Package</th>
                                                    <th>Installed Version</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for v in vuls %}
                                                <tr>
                                                    <td>
                                                        <a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ v.vulnerabilityID }} rel="noopener noreferrer" target="_blank"">
                                                            {{ v.vulnerabilityID }}
                                                        </a>
                                                    </td>
                                                    <td>{{ v.severity }}</td>
                                                    <td>{{ v.score }}</td>
                                                    <td>{{ v.resource }}</td>
                                                    <td>{{ v.installedVersion }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                        {% endfor %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        <h3>Containers</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    {% if has_report %}
                                    <th style="width:5%"></th>
                                    {% endif %}
                                    <th>State</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Restarts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in pod_data.containers %}
                                    <tr>
                                        {% if has_report %}
                                        <td>
                                            <button type="button" class="btn btn-success btn-just-icon btn-xs" data-toggle="collapse" data-target="#c-{{ c.name }}" onclick="">
                                                <i class="material-icons">arrow_forward_ios</i>
                                            </button>
                                        </td>
                                        {% endif %}
                                        {% if c.ready == "Running"%}
                                        <td><span class="badge badge-success">{{ c.ready }}</span></td>
                                        {% elif c.ready == "ImagePullBackOff" %}
                                        <td><span class="badge badge-danger">{{ c.ready }}</span></td>
                                        {% elif c.ready == "PodInitializing"%}
                                        <td><span class="badge badge-secondary">{{ c.ready }}</span></td>
                                        {% else %}
                                        <td>{{ c.ready }}</td>
                                        {% endif %}
                                        <td>{{ c.name }}</td>
                                        <td>{{ c.image }}</td>
                                        <td>{{ c.restarts }}</td>
                                    </tr>
                                    {% if has_report %}
                                    <tr>
                                        <td id="c-{{ c.name }}" class="collapse" colspan="5">
                                            {% for po, vuls in pod_vulns.items() %}
                                            {% if po == c.name %}
    
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Severity</th>
                                                        <th>Score</th>
                                                        <th>Package</th>
                                                        <th>Installed Version</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for v in vuls %}
                                                    <tr>
                                                        <td>
                                                            <!-- https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ v.vulnerabilityID }} -->
                                                            <a href="https://avd.aquasec.com/nvd/{{ v.vulnerabilityID | lower }}" rel="noopener noreferrer" target="_blank">
                                                                {{ v.vulnerabilityID }}
                                                            </a>
                                                        </td>
                                                        <td>{{ v.severity }}</td>
                                                        <td>{{ v.score }}</td>
                                                        <td>{{ v.resource }}</td>
                                                        <td>{{ v.installedVersion }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-conditions" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    <th>Condition</th>
                                    <th>State</th>
                                    </tr>
                                </thead>
                            {% for dict_item in pod_data.conditions %}
                            <tbody>
                                    {% for key, value in dict_item.items() %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-security" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <!-- {{ pod_data.security_context }} -->
                                <thead>
                                    <tr>
                                    <th>Context</th>
                                    <th>State</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in pod_data.security_context.items() %}
                                    <tr>
                                        <td>{{ item[0] }}</td>
                                        <td>{{ item[1] }}</td>
                                    </tr>
                                {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-resources" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h3>Refered By</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Namespace</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ pod_data.owner.split("/")[0] }}</td>
                                        <td>{{ pod_data.owner.split("/")[-1] }}</td>
                                        <td>{{ pod_data.namespace }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3>Refers To</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <!-- service account, secret, configmap, volume-->
                                    <thead>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Namespace</th>
                                    </thead>
                                    <tbody>
                                    {% if pod_data.image_pull_secrets %}
                                        {% for dict_item in pod_data.image_pull_secrets %}
                                        {% for key, value in dict_item.items() %}
                                        <tr>
                                            <td>ImagePullSecret</td>
                                            <td>{{ value }}</td>
                                            <td>{{ pod_data.namespace }}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if pod_data.service_account %}
                                        <tr>
                                            <td>ServiceAccount</td>
                                            <td>{{ pod_data.service_account }}</td>
                                            <td>{{ pod_data.namespace }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if pod_data.secrets %}
                                        {% for secret in pod_data.secrets %}
                                        <tr>
                                            <td>Secret</td>
                                            <td>{{ secret }}</td>
                                            <td>{{ pod_data.namespace }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    {% if pod_data.cm %}
                                        {% for cm in pod_data.cm %}
                                        <tr>
                                            <td>Configmap</td>
                                            <td>{{ cm }}</td>
                                            <td>{{ pod_data.namespace }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    {% if pod_data.pvc %}
                                        {% for pvc in pod_data.pvc %}
                                        <tr>
                                            <td>PeristentVolumeClame</td>
                                            <td>{{ pvc }}</td>
                                            <td>{{ pod_data.namespace }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}