{% extends "base.html" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
{% if get_flashed_messages() %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Pod List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Status</th>
                      <th>Name</th>
                      <th>Pod IP</th>
                      <th>Owner</th>
                      {% if has_report %}
                      <th>Report</th>
                      <th>Critical</th>
                      <th>High</th>
                      <th>Medium</th>
                      <th>Low</th>
                      {% endif %}
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for po in pods %}
                      <tr>
                        <td>
                        {% if po.status == "Running" %}
                          <span class="badge badge-success">{{ po.status }}</span>
                        {% elif po.status == "Pending" %}
                          <span class="badge badge-warning">{{ po.status }}</span>
                        {% elif po.status == "Succeeded" %}
                          <span class="badge badge-secondary">{{ po.status }}</span>
                        {% else %}
                          <span class="badge badge-info">{{ po.status }}</span>
                        {% endif %}
                        </td>
                        <td>
                          <form action="/pod-data" method="post">
                            <input type="hidden" name="ns_name" value="{{ ns_select }}" />
                            <input type="hidden" name="po_name" value="{{ po.name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ po.name }}</a>
                          </form>
                        </td>
                        <td>{{ po.pod_ip }}</td>
                        {% if po.owner %}
                        <td>
                          <form action="/{{ po.owner.split("/")[0] }}" method="post">
                            <input type="hidden" name="ns_select" value="{{ ns_select }}" />
                            <input type="hidden" name="tr_select" value="{{ po.owner.split("/")[1] }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ po.owner }}</a>
                          </form>
                        </td>
                        {% else %}
                          <td>-</td>
                        {% endif %}
                        {% if has_report %}
                        <td>
                          {% if po.scan_status == "OK" %}
                            <span class="badge badge-success">{{ po.scan_status }}</span>
                          {% elif po.scan_status == "Error" %}
                            <span class="badge badge-warning">{{ po.scan_status }}</span>
                          {% else %}
                            <span class="badge badge-info">{{ po.scan_status }}</span>
                          {% endif %}
                        </td>
                        <td><span class="badge badge-danger">{{ po.critical }}</span></td>
                        <td><span class="badge badge-warning">{{ po.high }}</span></td>
                        <td><span class="badge badge-primary">{{ po.medium }}</span></td>
                        <td><span class="badge badge-secondary">{{ po.low }}</span></td>
                        {% endif %}
                        <td>
                          <form action="/pods/delete" method="post">
                              <input type="hidden"  name="pod_name" value="{{ po.name }}"/>
                              <button type="submit" rel="tooltip" class="btn btn-danger btn-info btn-just-icon btn-sm" value="upvote">
                                  <i class="material-icons">delete</i>
                              </button>
                          </form>          
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}