{% extends "base.html" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/tag-input-plugin/tagsinput.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% if get_flashed_messages() %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<nav class="navbar navbar-light bg-light row"></nav>

<div class="card mb-4 mx-5">
  <div class="card-header py-3">
    <h5 class="m-0 font-weight-bold text-primary" id="KubernetesApiServer">Kubernetes ApiServer</h5>
  </div>
  
  <div class="card-body">
    <form action="/sso-config" method="POST">
      <div class="messages"></div>
      {% if oauth_server_uri %}
      <input type="hidden" name="request_type" value="edit" />
      <input type="hidden" name="oauth_server_uri_old" value="{{ oauth_server_uri }}" />
      {% else %}
      <input type="hidden" name="request_type" value="create" />
      {% endif %}
      <div class="col-sm-4">
        <div class="form-group">
          <label for="oauth_server_uri">Identity Provider Config</label>
          <input type="text" class="form-control" id="base_uri" name= "base_uri" value="{{ base_uri }}">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="oauth_server_uri">Identity Provider URL</label>
          {% if oauth_server_uri %}
          <input type="text" class="form-control" id="oauth_server_uri" name= "oauth_server_uri" value="{{ oauth_server_uri }}">
          {% else %}
          <input type="text" class="form-control" id="oauth_server_uri" name= "oauth_server_uri" placeholder="URL">
          {% endif %}
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col">
            <label for="client_id">Identity Provider Client ID</label>
            {% if client_id %}
            <input type="text" class="form-control" id="client_id" name="client_id" value="{{ client_id }}">
            {% else %}
            <input type="text" class="form-control" id="client_id" name="client_id" placeholder="Client ID">
            {% endif %}
          </div>
          <div class="col">
            <label for="client_id">Identity Provider Client Secret</label>
            {% if client_secret %}
            <input type="text" class="form-control" id="client_secret" name="client_secret" value="{{ client_secret }}">
            {% else %}
            <input type="text" class="form-control" id="client_secret" name="client_secret" placeholder="Client Secret">
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-8 mt-2">
        <p>Press enter or add a comma after each tag</p>
        <select class="form-control" multiple data-role="tagsinput" id="scope" name="scope">
          {% for s in scope %}
          <option value="{{ s }}">{{ s }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-4 mt-2">
        <div class="form-group">
          <button type="submit" class="btn btn-primary" >Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static',filename='/vendor/tag-input-plugin/tagsinput.js') }}"></script>
{% endblock %}
